html {
    width: 100%;
    height: 100%;
    
}
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
#left_image {
    
    
    width: 50%;
    height: 100%;
    float: left;
}
#right_image {
    

    width: 50%;
    height: 100%;
    float: right;
}
#top {
    z-index: 10;
    display: grid;
    place-items: center;
    position: absolute;
    height: 20%;
    width: 100%;
    float: left;
}
#top p {
    text-align: center;
    font-size: 30px;
    color:#3dc7d1;
}
input[type="button"] {
    border-radius: 15px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: #3dc7d1;
    border: 2px solid #3dc7d1;
    padding: 5px 10px;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#left {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../ico/userico.png");
    background-position: 2cm 50%;
    background-repeat: no-repeat;
}

img {
    width: 100%;
    height: 100%;
    z-index: -1;
}
#right {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../ico/weatherico.png");
    background-position: center;
    background-repeat: no-repeat;
}
input[type="button"]:hover {
    cursor: pointer;
    border-color: lightblue;
}
