<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weather</title>
    <link href="weather.css" rel="stylesheet"/>
    <meta content="charset=UTF-8"/>

</head>
<body>
<p>City: <a th:text="${city}"></a></p>
<p>main: <a th:text="${weather.main}"></a></p>
<p>description: <a th:text="${weather.description}"></a></p>
<p>temperature: <a th:text="${main.temp}"></a></p>
<p>pressure: <a th:text="${main.pressure}"></a></p>
<p>feels like: <a th:text="${main.feels_like}"></a></p>
<p>humidity: <a th:text="${main.humidity}"></a></p>
<p>
</body>
</html>